@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compartible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <!-- font awesome cdn-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <h2>Bookery</h2>
            </div>

            <div class="navmenu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#categories">Categories</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contactus">Contact Us</a></li>
                </ul>

                <div class="search-box">
                    <input type="search" class="search" placeholder="Search here....." />
                    <box-icon name='search-alt-2'></box-icon>
                </div>
            </div>
        </nav>

        <div class="main-header">
            <div class="header">
                <h5>Bookstore</h5>
                <h2>for all your reading needs</h2>
                <p>lorem, jdkkjnj akjjfkk kkakkfklakl kjhajkfnkaiu hgyarbfjka kuahfjk,ah ihdkahb judnkja
                    nhaun jbdnla  laljl lanj du lajh kah iu  kjagyuab yugdjuajjjh.
                </p>


                <a href="" class="btn">Read More</a>
            </div>
            <img src="C:\Users\sheebav\source\repos\BookLibraryManagementSystem\BookLibraryManagementSystem\wwwroot\images\loginimage.jpg" alt="images" />
        </div>

    </header>

    <!---Categories section->

        <section class="categories">
            <div class="Cat-row">
                <div class="cat-header">
                    <h2>Books Categories</h2>
                    <p>lorem50jkbnfdj jklakbjkbj jdayuiukb akbkauekiabde kaeudcbfiaeh kdbkuhcue kiuehd
                        dbuahediu  oiujcuah ohdcnuiue k ejjeijwsijbohed  kedhbci jkbdci.
                    </p>
                </div>

           
                <div class="cat-books">
                    <div class="books">
                        <div class=book-img><
                      <img src="@Url.Content("~/images/cat1.jpg")" alt="Category 1" />
                      </div>
                    <h4>Textbooks</h4>
                    <p>mkfpm naljdbn kabdafn ladn nfijhfi lsjfinf nfksnfjkl lfnlsfk lsfnjfnjfnfnfnfnnnbf
                        bjfknjknfjdjakjkak nhfdjuaj </p>
                </div>

     
                        <div class="books">
                            <div class=book-img>
                          <img src="@Url.Content("~/images/cat2.jpg")" alt="Category 2" />
                          </div>
                        <h4>Textbooks</h4>
                        <p>mkfpm naljdbn kabdafn ladn nfijhfi lsjfinf nfksnfjkl lfnlsfk lsfnjfnjfnfnfnfnnnbf
                            bjfknjknfjdjakjkak nhfdjuaj </p>
                </div>

              
                        <div class="books">
                            <div class=book-img>
                            <img src="@Url.Content("~/images/cat3.jpg")" alt="Category 3" />
                          </div>
                        <h4>Textbooks</h4>
                        <p>mkfpm naljdbn kabdafn ladn nfijhfi lsjfinf nfksnfjkl lfnlsfk lsfnjfnjfnfnfnfnnnbf
                            bjfknjknfjdjakjkak nhfdjuaj </p>
                     </div>

                    <div class="cat-books">
                        <div class="books">
                            <div class="book-img">
                           <img src="@Url.Content("~/images/cat4.jpg")" alt="Category 4" />
                          </div>
                        <h4>Textbooks</h4>
                        <p>mkfpm naljdbn kabdafn ladn nfijhfi lsjfinf nfksnfjkl lfnlsfk lsfnjfnjfnfnfnfnnnbf
                            bjfknjknfjdjakjkak nhfdjuaj </p>
                   </div>

                  
                        <div class="books">
                            <div class="book-img">
                            <img src="@Url.Content("~/images/cat5.jpg")" alt="Category 5" />
                          </div>
                        <h4>Textbooks</h4>
                        <p>mkfpm naljdbn kabdafn ladn nfijhfi lsjfinf nfksnfjkl lfnlsfk lsfnjfnjfnfnfnfnnnbf
                            bjfknjknfjdjakjkak nhfdjuaj </p>
                </div>

                    <div class="cat-books">
                        <div class="books">
                            <div class=book-img><
                           <img src="@Url.Content("~/images/cat6.jpg")" alt="Category 6" />
                          </div>
                        <h4>Textbooks</h4>
                        <p>mkfpm naljdbn kabdafn ladn nfijhfi lsjfinf nfksnfjkl lfnlsfk lsfnjfnjfnfnfnfnnnbf
                            bjfknjknfjdjakjkak nhfdjuaj </p>
                    </div>
                </div>
        </section>



    </body>
    </html>
